body{
    background-color: coral;
}
.main{
    width: 1000px;
    margin: 25px auto;
    padding: 25px;
}
.banner{
    text-align: center;
}
.banner h1{
    font-family: cursive;
    font-size: 50px;
    color: rgb(2, 147, 231);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 66, 104);
}
nav{
    background-color: rgb(228, 101, 55);
    margin: 30px auto;
    font-size: large;
    font-weight: bold;
}
nav ul{
    list-style-type: none;
    overflow: hidden;
}
nav li{
    float: left;
    margin-left: 40px;
    padding: 10px;
}
nav a{
    text-decoration: none;
    display: block;
}
nav li:hover{
    background-color: rgb(224, 78, 24);  
    border-radius: 25px;  
}
nav a:hover{
    color:rgb(2, 147, 231);
}
.content{

}
div{
    border: none
}
.lezaro{
    clear: both;
    border: none;
}
.active{
    color:rgb(0, 63, 117);
    background-color: rgb(224, 78, 24);  
    border-radius: 25px;
}
.rendeles{
    font-family: Garamond, serif;
}